body{
    background-color: beige;
}

.btn{
    width: 100px;
    height: 100px;
    font-size: xx-large;
    background-color: olive;
    border-color: black;
}

.bttake2 {
    width: 200px;
}

input[type='text']{
width: 400px;
height: 100px;
font-size: xx-large;
}

.main {
    background-image: url("/view/pictures/olivetest\ \(1\).jpg");
    height: auto;
    width: 425px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

.main2{
        background-image: url("/view/pictures/olivetest\ \(1\).jpg");
        height: auto;
        width: 525px;
        padding: 20px;
        border-radius: 10px;
        margin: auto;
}

.btchang {
    position: absolute;
    top: 20%; left: 62%;
}